In [ ]:
import csv
import mysql.connector as conn
import mysql.connector.errors as err
from baselogger import get_logger

In [ ]:
log = get_logger(__name__)
# Establish Connection

In [ ]:
try:
    log.info("Start Establish myql connection ")
    db = conn.connect(host="localhost", user="root", password="Sonu@124")
    log.info("Connected successfully")
except err as r:
    log.error(f"Something wrong in code -: {str(r)}")
except Exception as e:
    log.error(f"Some thing wrong in writen code:- {str(e)}")

Creating cursor

In [ ]:
try:
    log.info("Creating Cursor")
    cur = db.cursor()
    log.info("Successfully created cursor as cur.")
except err as r:
    log.error(f"Something is missing in writen code.: {str(r)}")
except Exception as e:
    log.error(f"Something wrong in writen code: {str(e)}")

Creating cardataset Databases & check if created or not

In [ ]:
try:
    log.info("Creating Database")
    cur.execute("CREATE DATABASE IF NOT EXISTS cardataset")
    cur.execute("SHOW DATABASES")
    list_db = cur.fetchall()
    if "cardataset" in list_db[0][0]:
        log.info("Given database has been created or already exits.")
    else:
        log.info("Database not found")
except err as r:
    log.error(f"Something is missing in writen code.: {str(r)}")
except Exception as e:
    log.error(f"Something wrong in writen code: {str(e)}")

Set Default Database

In [ ]:
cur.execute("USE cardataset")

Create car table in cardataset

In [ ]:
try:
    log.info("Starting to create table in cardataset")
    table_creation_query = "CREATE TABLE IF NOT EXISTS cardataset.car (buying VARCHAR(50),maint VARCHAR(50)," \
                           "doors VARCHAR(30),persons VARCHAR(30),lug_boot VARCHAR(50),safety VARCHAR(50)," \
                           "class VARCHAR(50))"
    cur.execute(table_creation_query)

    # Check created table
    cur.execute("SHOW TABLES")
    list_tb = cur.fetchall()
    if "car" in list_tb[0][0]:
        log.info("Given table has been created or already exits.")
    else:
        log.info("Table not fund")
except err as r:
    log.error(f"Something wrong in code. : {str(r)}")
except Exception as e:
    log.error(f"Something wrong in code. : {str(e)}")

Load data in car table

In [ ]:
try:
    log.info("Start to insert data in car table")
    csv_data = csv.reader(open('car.data'))
    next(csv_data)
    for raw in csv_data:
        cur.execute("INSERT INTO cardataset.car(buying, maint, doors, persons, lug_boot, safety, class) "
                    "VALUES (%s, %s, %s, %s, %s, %s, %s)", raw)
    db.commit()
    log.info(f"Insert successfully")

In [ ]:
except err as r:
    log.error(f"Something wrong in code {str(r)}")
except Exception as e:
    log.error(f"Something wrong in code {str(e)}")

Check inserted data

In [ ]:
cur.execute("SELECT * FROM cardataset.car limit 10")
for _ in cur.fetchall():
    print(_)

group by used

In [ ]:
cur.execute("SELECT buying, count(buying) AS count FROM cardataset.car GROUP BY buying")
for _ in cur.fetchall():
    print(_)

filter function used

In [ ]:
cur.execute("SELECT * FROM cardataset.car WHERE doors = '4'")
for _ in cur.fetchall():
    print(_)

Filter update function

In [ ]:
cur.execute("UPDATE cardataset.car SET doors = '8' WHERE doors = '2'")
db.commit()

Check update data

In [ ]:
cur.execute("SELECT * from cardataset.car WHERE doors = '8'")
for _ in cur.fetchall():
    print(_)

Delete table data

In [ ]:
cur.execute("TRUNCATE TABLE cardataset.car")
db.commit()

Verify table data

In [ ]:
cur.execute("SELECT * FROM cardataset.car")
cur.fetchall()

Delete table with structure

In [ ]:
try:
    log.info("Start Deleting table")
    cur.execute("DROP TABLE cardataset.car")
    db.commit()
    cur.execute("SHOW TABLES")
    list_tb = cur.fetchall()
    if "car" not in list_tb[0][0]:
        log.info("Given table has been deleted or doesnt exits.")
    else:
        log.info("Table not deleted or already exits")
except err as r:
    log.error(f"Something wrong in code. : {str(r)}")
except Exception as e:
    log.error(f"Something wrong in code. : {str(e)}")

Drop Database

In [ ]:
try:
    log.info("Start Deleting database")
    cur.execute("DROP DATABASE cardataset")
    db.commit()
    cur.execute("SHOW DATABASES")
    list_db = cur.fetchall()
    if "cardataset" not in list_db[0][0]:
        log.info("Given Database has been deleted or doesnt exits.")
    else:
        log.info("Database not deleted or already exits")
except err as r:
    log.error(f"Something wrong in code. : {str(r)}")
except Exception as e:
    log.error(f"Something wrong in code. : {str(e)}")